#left-container{
    display: inline-block;
    float: left;
    width: 381px;
    height: 500px;
}
#right-container{
    position: relative;
    left: 570px;
    bottom: 1400px;
}
#h1{
    position: relative; height:50px;top:25px

}
#verticalline{
    border-left: 3px solid rgb(73, 71, 71);
    height: 700px;
    position: relative;
    bottom: 720px;
    left: 383px;
}
#in{
    overflow-y: scroll;  
    height: 700px;
}
p{
    position: fixed;
    font-size: 20px;
}
  

 